<!-- 
<table class="tx-jpza-blog" >
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_author.first_name" />
		</td>
		<td>
		{author.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_author.last_name" />
		</td>
		<td>
		{author.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_author.user_name" />
		</td>
		<td>
		{author.userName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_author.presentation" />
		</td>
		<td>
		{author.presentation}
		</td>
	</tr>
</table> -->

<div class="jumbotron">
  <h3>{author.firstName} {author.lastName}</h3>
  <p>Pseudo: {author.userName}
  	<br><br>

  	Présentation : <br>
  	{author.presentation}</p>
</div>