<!-- 
<table class="tx-jpza-blog" >
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_category.title" />
		</td>
		<td>
		{category.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_category.description" />
		</td>
		<td>
		{category.description}
		</td>
	</tr>
</table> -->

<div class="jumbotron">
  <h2>{category.title}</h2>
  <p>Desciption : <br>{category.description} </p>

</div>