
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Liste des auteurs</h1>

<div class="row">
	<div class="col-md-12">
<table class="table table-striped">
	<thead> <tr> <th>Nom</th> <th>Prénom</th> <th>Pseudo</th> <th>Description</th> </tr> </thead>
	<tbody>
<f:for each="{authors}" as="author">
   <tr><th scope="row"><f:link.action action="show" arguments="{author : author}"> {author.firstName}</f:link.action></th> 
   	<td><f:link.action action="show" arguments="{author : author}"> {author.lastName}</f:link.action></td> 
   	<td><f:link.action action="show" arguments="{author : author}"> {author.userName}</f:link.action></td> 
   	<td>@<f:link.action action="show" arguments="{author : author}"> {author.presentation}</f:link.action></td> 
   </tr> 
</f:for>
</tbody> 
</table>
</div>
</div>

<!-- 
<f:flashMessages />

<table  class="tx_jpzablog" >
	<tr>
		<th><f:translate key="tx_jpzablog_domain_model_author.first_name" /></th>
		<th><f:translate key="tx_jpzablog_domain_model_author.last_name" /></th>
		<th><f:translate key="tx_jpzablog_domain_model_author.user_name" /></th>
		<th><f:translate key="tx_jpzablog_domain_model_author.presentation" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{authors}" as="author">
		<tr>
			<td><f:link.action action="show" arguments="{author : author}"> {author.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{author : author}"> {author.lastName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{author : author}"> {author.userName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{author : author}"> {author.presentation}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{author : author}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{author : author}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table> -->

<!-- <f:link.action action="new">New Author</f:link.action> -->
</f:section>
