
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Liste des Tags/h1>

<f:flashMessages />

<table  class="tx_jpzablog" >
	<tr>
		<th><f:translate key="tx_jpzablog_domain_model_tag.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{tags}" as="tag">
		<tr>
			<td><f:link.action action="show" arguments="{tag : tag}"> {tag.title}</f:link.action></td>
		</tr>
	</f:for>
</table>

</f:section>
