
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<h1>Liste des catégories</h1>

<!-- <f:flashMessages /> -->

<f:for each="{categories}" as="category">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title"><f:link.action action="show" arguments="{category : category}"> {category.title}</f:link.action></h3>
	  </div>
	  <div class="panel-body">
	    <f:link.action action="show" arguments="{category : category}"> {category.description}</f:link.action>
	  </div>
	</div>
</f:for>

<!-- <table  class="tx_jpzablog" >
	<tr>
		<th><f:translate key="tx_jpzablog_domain_model_category.title" /></th>
		<th><f:translate key="tx_jpzablog_domain_model_category.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{categories}" as="category">
		<tr>
			<td><f:link.action action="show" arguments="{category : category}"> {category.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{category : category}"> {category.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{category : category}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{category : category}">Delete</f:link.action></td> 
		</tr>
	</f:for>
</table> -->

<!-- <f:link.action action="new">New Category</f:link.action> -->
</f:section>
