
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Détails d'une categorie</h1>

<f:flashMessages />
<f:render partial="Category/Properties" arguments="{category:category}" />
<f:link.action action="list"><button type="button" class="btn btn-danger">Retour </button></f:link.action><br />
<!-- <f:link.action action="new">New Category</f:link.action> -->
</f:section>