<!-- 
<table class="tx-jpza-blog" >
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_post.title" />
		</td>
		<td>
		{post.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_post.summary" />
		</td>
		<td>
		{post.summary}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_post.content" />
		</td>
		<td>
		{post.content}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_post.publication_date" />
		</td>
		<td>
		{post.publicationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jpzablog_domain_model_post.thumbnail" />
		</td>
		<td>
				<f:image src="{post.thumbnail.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table> -->

<div class="jumbotron">
  <h1>{post.title}</h1>
  <p>{post.content}
  	<br><br>

  	Publié le: {post.publicationDate -> f:format.date()}</p>
</div>